@import "./EditRuleLi";
@import "./Login";
@import "./ManageRulesDiv";

body{
	overflow: hidden;
}
.root-body {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.maxcontant {
	width: 100%;
	height: 100%;
}

.add-rule-modal {
	width: 100px;
	height: 100px;
	background-color: red;
}